:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}

body,
html {
  height: 100%;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

.container {
  display: flex;
  flex: 1;
  overflow: auto;
  background-color: var(--black);
  padding: 0.5rem;
}

.container::-webkit-scrollbar {
  display: none;
}

.brand {
  height: 2rem;
}

.sidebar {
  flex: 0.25;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.top-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--grey);
  border-radius: 0.5rem;
}

.link-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.link-flex:hover {
  opacity: 1;
  transition: all 0.3s;
}

.link-flex img {
  height: 1.2rem;
  width: 1.2rem;
}

.link-flex p {
  font-size: 1rem;
  color: var(--white);
}

.library {
  border-radius: 0.5rem;
  flex: 3;
  overflow-y: auto;
  max-height: 90vh;
  background-color: var(--grey);
  padding: 0.5rem 1.5rem;
}

.library::-webkit-scrollbar {
  display: none;
}

.flex-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-top img {
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
  margin-top: 0.5rem;
}

.flex-top p {
  font-size: 0.8rem;
  opacity: 0.8;
}

.flex-top p:hover {
  opacity: 1;
  transition: all 0.3s;
}

.flex-top img:hover {
  opacity: 1;
  transition: all 0.3s;
}

.chip {
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--light-grey);
  border-radius: 5rem;
  width: fit-content;
  font-weight: normal;
  color: var(--white);
}

.main-content {
  flex: 0.8;
  overflow-y: auto;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.album-flex {
  margin-bottom: 1rem !important;
}

.albums {
  margin-top: 1rem;
}

.album-cover {
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 0.2rem;
}

.col-flex p {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}

.album-name {
  color: var(--white);
  margin-bottom: 0.35rem !important;
  font-size: 1rem !important;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  align-items: center;
  background-color: var(--grey);
  z-index: 1000;
}

.cards-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  background-color: var(--light-grey);
  padding: 0.75rem;
  border-radius: 0.5rem;
  height: 250px;
  margin: 0rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img {
  width: 100%;
  border-radius: 0.35rem;
}

.card-name {
  margin: 0.25rem 0;
}

.card-description {
  margin: 0;
  font-size: 0.7rem;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
.card-description::-webkit-scrollbar {
  display: none;
} */

.player {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-controls {
  width: 20vw;
}

.player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  opacity: 1;
}

.player-controls button {
  background-color: var(--white);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  align-items: center;
  padding-top: 4.5px;
}

.player-controls:hover {
  opacity: 1;
}

.volume-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  gap: 1.25rem;
  margin-bottom: 0.2rem;
  /* margin-top: 1rem; */
  opacity: 0.4;
}

.volume-controls:hover {
  opacity: 1;
}

.player-timeline {
  display: flex;
  align-items: center;
}

.timeline-slider {
  margin: 0 5px;
  width: 40vw;
}

.volume-slider {
  width: 100px;
  height: 4px;
  margin-top: 0.4rem;
  margin-left: -1rem;
  opacity: 1;
}

.timeline-slider:hover,
.volume-slider:hover {
  background-color: #1bd760;
  color: #1bd760;
}

.timeline-slider,
.volume-slider {
  -webkit-appearance: none;
}

.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}

.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1bd760;
  margin-top: -6px;
}

.timeline-slider:focus,
.volume-slider:focus {
  outline: none;
}

.timeline-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}